<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="wrapper fadeInDown">
	<div id="formContent">
		<form>
			<input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
			<input type="text" id="password" class="fadeIn third" name="login" placeholder="senha">
			<a routerLink='/painel'><input type="submit" class="fadeIn fourth" value="Logar"  ></a>
		</form>
		<div id="formFooter">
			<a class="underlineHover" href="#" >Perdeu a senha</a>
		</div>
	</div>
</div>
