<div class="row" style="margin-bottom: 50px;">
    <div class="col-sm-4" *ngFor="let oferta of ofertas">
      <div class="card">
        <img class="card-img-top" [src]="oferta.imagens[0].url">
        <div class="card-block">
          <h4 class="card-title">{{oferta.titulo}}</h4>
          <p class="card-text">{{oferta.descricao_oferta}}</p>
          <p class="preco">{{oferta.valor | currency : 'BRL' }}</p>
          <button class="btn btn-outline-success" [routerLink]="['/oferta',oferta.id]">Ver oferta</button>
           </div>
      </div>
    </div>
  </div>
